<h1>Login</h1>
<form action="/login">
  <input type="text" name="email" placeholder="email">
  <br>
  <input type="password" name="password" placeholder="password">
  <button type="submit">Log in</button>
</form>