<form action='/auth/login' method='POST'>
 <h3>Log In</h3>
     <hr>
     <br>
  <label>
    Email
    <input type='text' name='email' />
  </label>
  <label>
    Password
    <input type='password' name='password' />
  </label>

  <button type='submit'>
    Submit
  </button>
</form>

{{#if errorMessage}}
  <p class='error-message'>
    {{errorMessage}}
  </p>
{{/if}}