<h1>SIGN UP </h1>
<form action="/signup">
  <input type="text" name="email" placeholder="email">
  <br>
  <input type="password" name="password" placeholder="password">
  <button type="submit">Create account</button>
</form>