        <label for="email">Email:
        <input type="email" name="email" placeholder="Email" >
        </label>
        <label for="password">Password:
        <input type="password" name="password" placeholder="Password">
        </label>