{{!-- <h1>Add Reviews</h1>
<p>room ID: {{roomId}}</p>
<form class="mt-3" action="/rooms/edit-room/{{roomId}}" method='POST'>
    <div class="row">
        <div class="col-md-12 form-group mb-3">
            <label for="review">Review:</label>
            <textarea type="text" name="review"></textarea>
            <button type="submit">Add</button>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form> --}}