<div>
    <form action="/rooms/create" method="post">
        <label for="name">
            <input type="text" name="name" placeholder="Room Name">
        </label>
        <br>
        <br>
        <label for="description">
          <textarea cols="30" rows="5" name="description" placeholder="Add description for new room here."></textarea>
        </label>
        <br>
        <button type="submit"> Create Room</button>
    </form>
</div>