<form class="mt-5" action="/rooms/create" method='POST'>
    <div class="row">
        <div class="col-md-12 form-group mb-3">
            <label for="name">Room Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="col-md-12 form-group mb-3">
            <label for="imageUrl">Image</label>
            <input type="text" class="form-control" name="imageUrl">
        </div>
        <div class="col-md-12 form-group mb-3">
            <label for="description">Description</label>
            <textarea class="form-control" name="description"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create Room</button>
</form>