<h1>Create a room</h1>


<form action="/private/rooms/add" method='POST'>

  <label>Name:</label>
  <input type="text" name="name" required />

  <label>Description: </label>
  <textarea type="text" name="description" required></textarea>

  <label>Image:</label>
  <input type="text" name="imageUrl"/>

  <button type="submit">Create</button>

</form>