<form action='/room/create' method='POST'>
  <label for='name'>
    Room's name
    <input type='text' name='name' />
  </label>
  <label for='description'>
    <textarea name='description' id='' cols='30' rows='10'></textarea>
  </label>
  <label for='imageUrl'>Image URL
    <input type='text' name='imageUrl' />
  </label>

  <label for='owner'>Owner
    <input type='text' name='owner' />
  </label>
  <button>Submit the room</button>
</form>
<a href="/room">Back to main room</a>