Create a new Room
<form action="/room" method='POST' enctype="multipart/form-data">
<label for="name">name</label>
<input type="text" name='name'>
<label for="description">description</label>
<input type="textarea" name='description'>
<label for="image">image</label>
<input type="file" name='image'>
<button type="submit">create</button>
</form>