<div id="form">
  <h2>New room</h2>
  <form action="/room/create" method="POST">
 
    <label> Name
      <input type="text" name="name" placeholder="name of the room" />
    </label>
 
    <label> Description
      <input type="text" name="description" placeholder="description of a room" />
    </label>

        <label> Image
      <input type="text" name="image" placeholder="url image" />
    </label>
 
    <button type="submit">Create room</button>
  </form>
</div>