<div class="form">

  <h2>Create Room</h2>

  <form action="/room-create" method="POST">

    <div>
      <label for="room-name-input">Room Name: </label>
      <input id="room-name-input" type="text" name="name" placeholder="Room Name Here"/>
    </div>

    <br>

    <div>
      <label for="room-decsription">Room Decription: </label>
      <input id="room-decsription" type="text" name="description" placeholder="Short Description"/>
    </div>

   <br>

    <div>
      <label for="room-image">Image URL: </label>
      <input id="room-image" type="text" name="imageUrl" placeholder="Image URL here"/>
    </div>

    <br>
    
    <div>
      <button type="submit">Create Room</button>
    </div>

      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p> 
      {{/if}}

  </form>
</div>