<h2 class="text-muted text-center mt-5 fw-bold">Publica tu anuncio de alquiler de habitación o piso completo</h2>
<div class="d-flex mt-5">
  <div class="col d-flex px-5 justify-content-center align-items-center">
    <div class="card">
      <img src="/images/PTA-habitacion1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title fw-bold text-muted">Find your ideal partner</h5>
        <a href="/rooms/new" class="btn btn-success">Publish Room</a>
      </div>
    </div>
  </div>
  <div class="col d-flex justify-content-center align-items-center">
    <div class="card">
      <img src="/images/PTA-habitacion2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title fw-bold text-muted">Find your ideal partner</h5>
        <a href="/rooms/new" class="btn btn-success">Publish Room</a>
      </div>
    </div>
  </div>
</div>