{{!-- <h1>Private Page</h1>
<p>Your Rooms</p>
{{#each rooms as |room|}}
<div class="row">
    <div class="col-md-12 form-group mb-3">
        <label>{{room.name}}</label>
        <input type="text" class="form-control" name="name">
    </div>
     <div class="col-md-12 form-group mb-3">
        <label>{{room.description}}</label>
        <input type="text" class="form-control" name="name">
    </div>
     <div class="col-md-12 form-group mb-3">
        <label>{{room.imageUrl}}</label>
        <input type="text" class="form-control" name="name">
    </div>
</div>
{{/each}}
<a href="/create-room">Create a new room</a> --}}