<h2>Private Page</h2>


<div>
<a href="/private/rooms/create">Add a room</a>
<a href="/private/rooms">All rooms</a>
</div>

<form action="/logout" method="POST">
  <button type="submit">logout</button>
</form>