<form action='/signup' method='POST'>
  <label >Username:
    <input type="text" name="username" />
  </label>
  <label for='email'>Email</label>
  <input type='email' name='email' required />
  <label for='password'>Password</label>
  <input type='password' name='password' required />
  <button type='submit'>Signup</button>
</form>

{{#if err}}
  <p>{{err}}</p>
{{/if}}