
{{#if message}}
  <p>{{message}}</p>
{{/if}}

<form action="/users/signup" method="POST">

  <label for="username">Username: </label>
  <input type="text" name="username" required placeholder="choose a username"/>

  <label for="email">Email: </label>
  <input type="text" name="email" required placeholder="choose an email"/>

  <label for="password">Password:</label>
  <input type="password" name="password" required placeholder="choose a password"/>

  <button type="submit">Sign up</button>
</form>

