<h1>Create room</h1>
<p>Hello {{user.fullName}}</p>
<form action="/room-crud/create-room" method="POST">
    <label for="roomName">Room name</label>
    <input type="text" name="roomName">
    <label for="roomDescription">Description</label>
    <input type="text" name="roomDescription">
    <label for="roomImage">Image</label>
    <input type="text" name="roomImage">
    <button type="submit">Create room</button>
</form>
{{#if message}}
<div class="error-message">{{ message }}</div>
{{/if}}
<br><br>
<a href="/">Back to main</a>
<a href="/logout">Log out</a>