<h2>Create Rooms</h2>
<form action="/rooms/create" method="post">

  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" />

  <label for="description-input">Description:</label>
  ​<textarea name="description" id="description-input" rows="4" cols="40"></textarea>

  <label for="image-input">Image URL:</label>
  <input type="text" name="imageUrl" id="image-input" />

  <button type="submit">Create</button>

</form>