<div class="container">
  <h2>Rooms</h2>
  {{#each rooms}}
    <div class="room-col">
      <a href="/rooms/{{this._id}}">{{this.name}}</a>

      <a href="/rooms/{{this._id}}/update" class="btn btn-dark">Edit</a>

      <form action="">
        <button>Delete</button>
      </form>

    </div>
  {{/each}}
</div>