<h2>Add a room</h2>
<form action="/rooms" method="POST">
  <label for="name">Name</label> 
  <input id="name" type="text" name="name" ><br>
  <br>
  <label for="description">Description</label> 
  <input id="description" type="text" name="description"><br>
  <br>
  <label for="imageUrl">ImageUrl</label> 
  <input id="imageUrl" type="image" name="imageUrl"><br>
<br>
  <label for="owner">Owner: {{owner}}</label> <br>
<br>

 <!-- <label for="reviews">Reviews</label> 
  <input id="reviews" type="text" name="reviews"><br> -->
<br>

  
  <button type="submit">Add</button>
</form>