<h1>{{appTitle}} 🚀</h1>
<ul>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/rooms">Add a room</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/signin">Signin</a></li>
</ul>