<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav>
  <a href="/">Home</a><br><br>
  <a href="/signup">Register</a><br><br>
  <a href="/signin">Login</a><br><br>
  <a href="/signout">Logout</a><br><br>
  <a href="/rooms">Show Rooms</a>
</nav>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>