<h1>Login</h1>
<p>Hello</p>
<form action="/login" method="POST">
  <label for="username">E-Mail: </label>
  <input type="text" name="username" required>
  <label for="password">Password: </label>
  <input type="password" name="password" required>
  <button type="submit">Login</button>
</form>
{{#if message}}
<div class="error-message">{{ message }}</div>
{{/if}}
<a href="/">Back to main</a>