
<h1>Private page</h1>

{{!-- To implement later - the name of the logged user - do a route
<p>Dashboard -  {{user.fullName}}</p> --}}

<a href="/">Home</a>
<a href="/rooms/add">Add a room</a>

<a href="/logout">Log out</a> 