<h1>Sign up</h1>
<form action="/signup" method="POST">
  <label name="email">E-Mail: </label>
  <input type="text" name="email" required>
  <label name="password">Password: </label>
  <input type="text" name="password" required>
  <label name="fullName">Full name: </label>
  <input type="text" name="fullName" required>
  <button type="submit">Sign up</button>
</form>
<p>{{message}}</p>