<h1>Sign up</h1>
<form action="/signup" method="POST">
  <label for="username">E-Mail: </label>
  <input type="text" name="username" required>
  <label for="password">Password: </label>
  <input type="text" name="password" required>
  <label for="fullName">Full name: </label>
  <input type="text" name="fullName" required>
  <button type="submit">Sign up</button>
</form>
<a href="/login">Already have an account? Login</a>
{{#if message}}
<div class="error-message">{{ message }}</div>
{{/if}}
<a href="/">Back to main</a>