<form action="/signup" method='post'>
<label for="email"></label>
<input type="email" name='email'>
<label for="password"></label>
<input type="password" name='password'>
<button type="submit">signup</button>
</form>
