    <body style="background-color: yellow">
        
    <h1>Site of Rooms!</h1>
    {{#each rooms}}
      <h2>{{room.name}}</h2>
      <p>Name: {{this.name}}</p>
      <p>Description: {{this.description}}</p>
      <p>owner: </p>
   </form>
    {{/each}}
    </body>