<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

<p><a href="/logout">Logout</a></p>
<p><a href="/signup">signup</a></p>
<p><a href="/login">login</a></p>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>