      <nav>
         <a href="/auth/login">Log In</a>
         <a href="/auth/signup">Sign up</a>
         <a href="/rooms">Rooms</a>
         <a href="/private/profile">Profile</a>
      </nav>

      {{!-- simple deactivate login button when user is logged in {{#if user}} <a href="/auth/login">Log In</a> {{/if}} --}}

       {{!-- after you have to pass the userIsLoggedIn object to the render view --}}