body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* a {
  color: #00b7ff;
} */

h1 {
  color: 15px;
}

input:invalid {
  border: 2px dashed rgba(254, 46, 46, 0.393);
}

#room-card{
  max-width: 10rem;
}

#room-preview{
  height: 20rem;
}