<form action='/login' method='POSt'>
  <label for='email'></label>
  <input type='text' name='email' />

  <label for='password'></label>
  <input type='password' name='password' />

  <button type='submit'>Log In</button>
</form>