<form action="/auth/login" method="POST">

    <label for="email">Email: </label>
    <input type="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>


  <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}