<h2>hey</h2>

<form action='/signup' method='POST'>
  <label for='email'>Email:</label>
  <input type='text' name='email' placeholder='Enter your email' />
  <label for='password'></label>

  <input type='password' name='password' placeholder='Enter you password' />

  <button type='submit'>Sign Up!</button>
</form>