<h2>Signup</h2>

<form action="/singup" method="post">

<div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
</div>
<div>
    <label for="fullName">Full Name</label>
    <input type="text" name="fullName" id="fullName" required>
</div>
<div>
    <label for="slackID">Slack ID</label>
    <input type="text" name="slackID" id="slackID" required>
</div>
<div>
    <label for="googleID">Google ID</label>
    <input type="text" name="googleID" id="googleID" required>
</div>

<button>Create user</button>
</form>