<h2>Singin</h2>

<form action="/singin" method="post">

<div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
</div>

<div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
</div>
<button>Login</button>
</form>